body, html{
  height:100%;
  width: 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addRunnerButton, .addBalletButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.runner {
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.ballet {
  background-image: url("http://media.giphy.com/media/YZfqHzpjw1I40/giphy.gif");
  background-size: cover;
  min-height: 200px;
  min-width: 400px;
  position: absolute;
}

.bigger-ballet {
  min-height: 400px;
  min-width: 800px;
}


